
  <link rel="stylesheet" href="/css/dt.css">

  
  <form action="/dts/post-dt" method="POST">
  <div class="form-body">
     <img src="https://pps.whatsapp.net/v/t61.24694-24/86820151_1432562730257564_4798838970413289601_n.jpg?ccb=11-4&oh=01_AVy5jVid1nigQXFAzmgd8UeFRPT5W5BvoVKPnzqxWBvzxw&oe=634AAF99" alt="user-login">
     <p class="text">DIRECTOR TECNICO</p>
     <form class="login-form">
      <input type="text" class="form-control" name="name_DT" placeholder="nombre DT" autofocus>
      <input type="text" class="form-control" name="team_DT" placeholder="equipo DT" autofocus>
      <input type="text" class="form-control" name="age_DT" placeholder="edad DT" autofocus>
       <input type="number" class="form-control" name="valoration_DT" placeholder="valoracion del 1 al 10" autofocus>
      <button>AGREGAR</button>
      </form>
     </form>
  </div>
