
  <link rel="stylesheet" href="/css/dt.css">

  
  <form action="/teams/post-team" method="POST">
  <div class="form-body">
     <img src="https://pps.whatsapp.net/v/t61.24694-24/86820151_1432562730257564_4798838970413289601_n.jpg?ccb=11-4&oh=01_AVy5jVid1nigQXFAzmgd8UeFRPT5W5BvoVKPnzqxWBvzxw&oe=634AAF99" alt="user-login">
     <p class="text">EQUIPO</p>
     <form class="login-form">
      <input type="text" class="form-control" name="name_team" placeholder="Nombre Equipo" autofocus>
      <input type="text" class="form-control" name="league_team" placeholder="Liga Equipo" autofocus>
      <button>AGREGRAR</button>
      </form>
     </form>
  </div>
