
  <link rel="stylesheet" href="/css/dt.css">

  
  <form action="/players/post-player" method="POST">
  <div class="form-body">
     <img src="https://www.eluniverso.com/resizer/ybZzeBd1qVvonYAwP9wQ2hAh71c=/710x660/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/Y2QP7TEWTJBC3PVMZZ5ZYYXJX4.jpg" alt="user-login">
     <p class="text">JUGADOR</p>
     <form class="login-form">
      <input type="text" class="form-control" name="name_Player" placeholder="Nombre Jugador" autofocus>
      <input type="text" class="form-control" name="surname_Player" placeholder="Apellido Jugador" autofocus>
      <input type="text" class="form-control" name="age_Player" placeholder="Edad Jugador" autofocus>
       <input type="number" class="form-control" name="player_Valuation" placeholder="valoracion del 1 al 10" autofocus>
      <button>AGREGAR</button>
      </form>
     </form>
  </div>
