
  <link rel="stylesheet" href="/css/dt.css">

  
  <form action="/leagueBarrels/post-leagueBarrel" method="POST">
  <div class="form-body">
     <img src="https://guayllabamba.sadcaf.com/imagenes/logo.png" alt="user-login">
     <p class="text">LIGA BARRIAL</p>
     <form class="login-form">
      <input type="text" class="form-control" name="league_barrels" placeholder="Liga Barrial" autofocus>
      <input type="text" class="form-control" name="name_league_barrels" placeholder="Nombre Liga Barrial" autofocus>
      <input type="text" class="form-control" name="location_league_barrels" placeholder="Ubicacion Liga Barrial" autofocus>
       <input type="text" class="form-control" name="type_league_barrels" placeholder="Tipo Liga Barrial" autofocus>
      <button>AGREGAR</button>
      </form>
     </form>
  </div>
