
  <link rel="stylesheet" href="/css/dt.css">

  
  <form action="/matches/edit-match/{{match.id}}" method="POST">
  <div class="form-body">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS68CuqzLnHbC41jV1avulfURGLcOXIYcEm2Q&usqp=CAU" alt="user-login">
     <p class="text">EDITAR DT</p>
     <form class="login-form">
      <input type="text" value="{{match.place_Match}}" class="form-control" name="place_Match" placeholder="Lugar De Partido" autofocus>
      <input type="time" value="{{match.match_time}}" class="form-control" name="match_time" placeholder="Hora Del Partido" autofocus>
      <input type="date" value="{{match.Date_match}}" class="form-control" name="Date_match" placeholder="Fecha Del Partido" autofocus>
      
      <button>EDITAR</button>
      </form>
     </form>
  </div>
