
  <link rel="stylesheet" href="/css/dt.css">

  
  <form action="/matches/post-match" method="POST">
  <div class="form-body">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS68CuqzLnHbC41jV1avulfURGLcOXIYcEm2Q&usqp=CAU" alt="user-login">
     <p class="text">PARTIDO</p>
     <form class="login-form">
      <input type="text" class="form-control" name="place_Match" placeholder="Lugar Partido" autofocus>
      <input type="time" class="form-control" name="match_time" placeholder="Hora del Partido" autofocus>
      <input type="date" class="form-control" name="Date_match" placeholder="Fecha del Partido" autofocus>
      
      <button>AGREGAR</button>
      </form>
     </form>
  </div>
