
  <link rel="stylesheet" href="/css/dt.css">

  <form action="/camps/post-camp" method="POST">
  <div class="form-body">
     <img src="https://cdn2.civitatis.com/espana/barcelona/guia/camp-nou.jpg" alt="user-login">
     <p class="text">CAMPO</p>
     <form class="login-form">
      <input type="number" class="form-control" name="camp_number" placeholder="Numero De Campo" autofocus>
  
      <button>AGREGAR</button>
      </form>
     </form>
  </div>
