
  <link rel="stylesheet" href="/css/dt.css">

  
  <form action="/camps/edit-camp/{{camp.id}}" method="POST">
  <div class="form-body">
     <img src="https://cdn2.civitatis.com/espana/barcelona/guia/camp-nou.jpg" alt="user-login">
     <p class="text">EDITAR CAMPO</p>
     <form class="login-form">
      <input type="number" value="{{camp.camp_number}}" class="form-control" name="camp_number" placeholder="Numero De Campo" autofocus>
      
      <button>EDITAR</button>
      </form>
     </form>
  </div>
