
  <link rel="stylesheet" href="/css/list.css">

  <center><h3>SOCIAL-SOCCER</h3></center>

  
   
    {{#each camp}}
      <div class="card-1">
    <div class="head">
       <div class="circle">
        <div class="img">
          <img src="https://cdn2.civitatis.com/espana/barcelona/guia/camp-nou.jpg" alt="">
        </div>
       </div>
    </div>
    <div class="description">
      <h4>numero de campo</h4>
      <h4>{{camp_number}}</h4>
      
    </div>
    <div class="contact">
      <a href="/camps/delete-camp/{{id}}">DELETE</a>
      <a href="/camps/edit-camp/{{id}}">EDIT</a>
    </div>
  </div>
      {{else}}
      <div class="agregar">
        <a href="/camps/add-camp">AGREGAR CAMPO</a>
      </div>
    {{/each}}
    </div>
</div>
