<div class="container p-4">
  <center><h3>CAMPO</h3>
    <div class="row">
        
    {{#each camp}}
      <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
               
                <h3 class="card text-uppercase" style="color: blue;">
                    {{camp_number}}
                </h3>

                <a href="/camps/delete-camp/{{id}}" class="btn btn-danger">Delete</a>
                <a href="/camps/edit-camp/{{id}}" class="btn btn-secondary">Edit</a>
               
            </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>There are not links save yet.</p>
          <a href="/camps/add-camp">Create One!</a>
        </div>
      </div>
    {{/each}}
    </div>
</div>