
  <link rel="stylesheet" href="/css/navigation.css">

  <header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			
			<nav class="menu">
        <a href="/">INICIO</a>
				<a href="/dts">Director Tecnico</a>
				<a href="/players">Jugador</a>
				<a href="/matches">Partido</a>
				<a href="/leagueBarrels">Barrial</a>
        <a href="/teams">Equipo</a>
        <a href="/camps">Campo</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="/dts/add-dt">Agregar DT</a>
			<a href="/players/add-player">Agregar JUGADOR</a>
			<a href="/matches/add-match">Agregar PARTIDO</a>
			<a href="/leagueBarrels/add-leagueBarrel">Agregar BARRIAL</a>
			<a href="/teams/add-team">Agregar EQUIPO</a>
			<a href="/camps/add-camp">Agregar CAMPO</a>
		</nav>
		<label for="btn-menu">❌</label>
	</div>
</div>
