
    <link rel="stylesheet" href="/css/dashboard.css">

   
<center><h3>SOCIAL-SOCCER</h3></center>
    <div class="banner">
       <div class="capa"></div>
         <div class="info">
            <h1>BIENVENIDOS A SOCIAL SOCCER</h1>
            <p>LA EXCELENCIA ES PARTE DEL EXITO</p>
            <a href="/dts">INICIAR</a>
         
       </div>
    </div>

