<div class="container p-4">
    <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card ">
       <div class="card-body">
        <form action="/links/post-game/{{game.id}}" method="POST">
           <div class="form-group">
            <label for="nombre">LUGAR:</label>
             <input type="text" value="{{game.place_Match}}" class="form-control" name="place_Match" placeholder="place Match" autofocus>
           </div>
           <div class="form-group">
            <label for="equipo">HORA:</label>
            <input type="text" value="{{game.match_time}}" class="form-control" name="match_time" placeholder="match time" autofocus>
           </div>
           <div class="form-group">
            <label for="edad">FECHA:</label>
           <input type="text" value="{{game.Date_match}}" class="form-control" name="Date_match" placeholder="Date match" autofocus>
           </div>
            <button class="btn btn-success btn-block">
              save
            </button>
           </div>
        </form>
       </div>
      </div>
    </div>
  </div>
   
</div>