<div class="container p-4">
    <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card ">
       <div class="card-body">
        <form action="/links/post-player" method="POST">
           <div class="form-group">
            <label for="nombre">NOMBRE:</label>
             <input type="text" class="form-control" name="name_Player" placeholder="name Player" autofocus>
           </div>
           <div class="form-group">
            <label for="equipo">EQUIPO:</label>
            <input type="text" class="form-control" name="surname_Player" placeholder="surname Player" autofocus>
           </div>
           <div class="form-group">
            <label for="edad">EDAD:</label>
           <input type="text" class="form-control" name="age_Player" placeholder="age Player" autofocus>
           </div>
           <div class="form-group">
            <div class="form-group">
              <label for="valoracion">VALORACION:</label>
             <input type="text" class="form-control" name="player_Valuation" placeholder="player Valuation" autofocus>
           </div>
            <button class="btn btn-success btn-block">
              save
            </button>
           </div>
        </form>
       </div>
      </div>
    </div>
  </div>
   
</div>